Source: itest-core
Section: devel
Priority: extra
Maintainer: Junchun Guan <junchunx.guan@intel.com>
Build-Depends: debhelper, python (>= 2.6), python-support, python-setuptools
Standards-Version: 3.8.0
X-Python-Version: >= 2.6
Homepage: http://www.tizen.org

Package: itest-core
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-pexpect, python-coverage, python-jinja2, python-unittest2, spm
Description: functional test framework for gbs and mic

Package: spm
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-jinja2, python-yaml
Description: Smart package management tool on Linux
 A wrapper of yum, apt-get, zypper command. Support Redhat, Debian, SuSE

Package: nosexcase
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 itest-core, python-nose
Description: A nose plugin that supports running test cases defined in XML format
