%if issue2cases:
<h1>Issues related</h1>
<table>
    <tr>
        <th>Issue#</th>
        <th>Cases</th>
    </tr>
    %for issue in sorted(issue2cases.keys(), lambda i,j: cmp(int(j[1]), int(i[1]))):
    <tr>
        <td><a href="${issue_link(issue)}">
            ${issue[0]}</a></td>
        %if len(issue2cases[issue]) == 1:
        <td><a href="#case${issue2cases[issue][0]['id']}">
            ${issue2cases[issue][0]['name']}</a></td>
        %else:
        <td>
            <ol class="case_list">
            %for case in issue2cases[issue]:
                <li><a href="#case${case['id']}">${case['name']}</a></li>
            %endfor
            </ol>
        </td>
        %endif
    </tr>
    %endfor
</table>
%endif
